// 반응형 처리
$notion-max-width: min(80%, 1300px);

@media only screen and (width >= 520px) {
  .notion-aside {
    display: none;
  }
  .notion-table {
    width: 100% !important;
    max-width: 100%;
    margin: auto;
    overflow: scroll hidden !important;
  }
}

@media only screen and (width> 720px) {
  :root {
    --base-font-size: 0.95rem;
  }
  .notion-table {
    width: 100% !important;
    max-width: 100%;
    margin: auto;
    overflow: scroll hidden !important;
  }
}

@media only screen and (width> 1500px) {
  :root {
    --notion-page-left-right-padding: 8vw;
    --notion-page-fullwith-left-right-padding: 8vw;
  }
}
