/* styles/Block.module.css */

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.8;
  color: #000;
}

.heading1 {
  font-size: 4.8rem;
  font-weight: 200;
  margin-bottom: 0.75rem;
  margin-left: 0; /* 최상위 헤딩은 들여쓰기 없음 */
  color: #333;
}

.heading2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem; /* 상대적 단위로 변경 */
  color: #686868;
}

.heading3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-left: 1rem; /* 상대적 단위로 변경 */
  color: #2e2e2e;
}

.quote {
  border-left: 4px solid #ddd;
  margin: 1rem 0;
  padding-left: 1rem;
  font-style: italic;
  color: #555;
}

.listItem {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.toggle {
  margin-bottom: 0.75rem;
}

.toggleTitle {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.toggleContent {
  padding-left: 1rem;
  border-left: 2px solid #ddd;
  margin-top: 0.5rem;
}

.image {
  max-width: 100%;
  margin: 1rem 0;
}

.code {
  margin: 1rem 0;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
}

.divider {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ddd;
}

.callout {
  background-color: #f9f9f9;
  padding: 1rem;
  border-left: 4px solid #ccc;
  margin: 1rem 0;
}

.embed {
  width: 100%;
  height: 400px;
  margin: 1rem 0;
}

.video {
  max-width: 100%;
  margin: 1rem 0;
}

.file {
  display: block;
  margin: 1rem 0;
  color: blue;
  text-decoration: underline;
}

.bookmark {
  display: block;
  margin: 1rem 0;
  color: blue;
  text-decoration: underline;
}

.childPage {
  background-color: var(--light50);
  color:var(--light90);
  margin: 1rem 0;
  padding:1rem;
}
.childPage a{
    color:var(--dark10);

}
.childPageLink {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.childPageLink:hover {
  text-decoration: underline;
}

.childBlocks {
  padding-left: 1rem;
  border-left: 2px solid #ddd;
  margin-top: 0.5rem;
}
