@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import '~bootstrap/scss/bootstrap';
.list-group-item {
	background-color: transparent;
}
html {
	overflow-y: scroll;
	letter-spacing: -0.5px;
}
a {
	font-size: $font-size-base * 1.25;
	text-decoration: none;
}
body {
	font-family: 'Pretendard Variable', Pretendard, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f8f9fa;
	line-height: 1.75;
	word-break: break-all;
	table > * {
		color: var(--bs-gray-900) !important;
	}
	color: var(--bs-gray-900);
	font-size: $font-size-base * 1.25;
	margin: 10vh auto;
}
.headline {
	&.h1,
	h1 {
		color: var(--bs-gray-800);
		font-size: $font-size-base * 2.4;
		margin: 3rem 0 1.5rem;
		font-weight: 200;
	}
	&.h2,
	h2 {
		font-size: $font-size-base * 2;
		margin: 3rem 0 1.5rem;
		color: var(--bs-gray-700);
		font-weight: 400;
	}
	&.h3,
	h3 {
		color: var(--bs-gray-600);
		font-size: $font-size-base * 1.8;
		margin: 3rem 0 1.5rem;
	}
}
.snippets {
	.copy {
		right: 1rem;
		top: 0.5rem;
		opacity: 0.8;
	}
}
pre {
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.5);
	overflow-y: scroll !important;
	overflow-x: auto !important;
	white-space: pre-wrap !important;
	code {
		white-space: pre-wrap !important;
	}
}

.container {
	img + * {
		margin-top: 2rem;
	}
	img {
		margin-left: 2rem;
	}
	.disc {
		padding-left: 0.5rem;
		li {
			padding: 1rem 0 0.5rem;
			&::before {
				display: inline-block;
				margin-right: 0.5rem;
				content: '▪ ';
				color: $info;
				font-size: 1.5rem;
			}
			.child-block {
				margin-left: 1.5rem;
				p,
				img {
					margin: 0 !important;
				}
			}
			.child-block::before {
				display: inline-block;
				vertical-align: top;
				content: '▪ ';
				color: $info;
				margin-right: 1rem;
				font-size: 1rem;
			}
		}
	}
}

.bold {
	font-weight: bold;
}

.italic {
	display: block;
	padding-left: 1rem;
	color: var(--bs-gray-600);
}

.line-through {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

.code {
	font-family: 'Courier New', Courier, monospace;
	background-color: #f4f4f4;
	padding: 2px 4px;
	border-radius: 4px;
}

.text-blue {
	color: blue;
}

.text-red {
	color: red;
}

/* 다른 색상들에 대해서도 추가 */
