// styles/global.scss

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import '~bootstrap/scss/bootstrap'; // 부트스트랩 SCSS 가져오기
html {
	overflow-y: scroll;
}

// 커스텀 전역 스타일 정의
body {
	font-family: 'Pretendard Variable', Pretendard, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f8f9fa;
	line-height: 1.75;
	color: var(--bs-gray-900);
	font-size: 1.4em;
}

h1,
.display-4,
.h1 {
	font-weight: 100;
	font-size: calc(1.475rem + 2.7vw);
	color: var(--bs-gray-700);
}
h2,
.h2 {
	font-weight: 600;
	color: var(--bs-gray-600);
}
h3,
.h3 {
	font-weight: 800;
	color: var(--bs-gray-500);
}
h4,
.h4 {
	font-weight: 800;
	color: var(--bs-gray-600);
}
h5,
.h5 {
	font-weight: 600;
	color: var(--bs-gray-600);
	font-size: 1.25rem;
}
h6,
.h6 {
	font-weight: 200;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 2rem;
}
pre {
	overflow-x: auto; // 가로 스크롤을 자동으로 보여줍니다
	white-space: pre-wrap; // 자동 줄바꿈을 활성화합니다
	word-wrap: break-word; // 단어가 너무 길면 적절히 줄바꿈합니다
	background-color: #f8f9fa;
	padding: 1rem;
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
}

code {
	font-size: 0.9rem;
}

ol,
ul {
	padding-left: 1rem !important;
}

ol {
	list-style-type: decimal !important; // 번호를 사용하여 순번 표시
}

li::marker,
.disc {
	list-style: disc !important; // 불릿 기호 사용
}

li::before{
	margin-right:1rem ;
	content: '▪ ' !important;

}
.img-fluid.shadow.border.border-muted{
	margin-left:2rem;
}