@import url('./font/font.css');
/* coalal-var=========================== */
/* ==================================== */

:root {
  --a: 1;
  --c_blue-00: rgba(232, 246, 251, var(--a));
  --c_blue-20: rgba(171, 221, 241, 0.1);
  --c_blue-30: rgba(130, 204, 234, var(--a));
  --c_blue-40: rgba(88, 187, 227, var(--a));
  --c_blue-50: rgba(46, 170, 220, var(--a));
  --c_blue-60: rgba(31, 139, 182, var(--a));
  --c_blue-70: rgba(15, 69, 91, var(--a));
  --c_blue-80: rgba(23, 104, 137, var(--a));
  --c_blue-90: rgba(15, 69, 91, var(--a));
  --c_blue-10: rgba(8, 35, 46, var(--a));
  --c_bg-00: rgba(244, 245, 246, var(--a));
  --c_bg-10: rgba(56, 66, 71, var(--a));
  --c_bg-20: #b6c8e139;
  --c_bg-30: #c1d0e580;
  --c_bg-40: #dadee3;
  --c_bg-50: #b5bdc7;
  --c_bg-60: #909cab;
  --c_bg-70: #7e8b9d;
  --c_bg-80: #3c5f8c;
  --c_bg-90: #505b69;
}

/* // !! coalal-var !! // */

* {
  box-sizing: border-box;
}
.light-mode {
  background-color: var(--c_bg-00);
}
.dark-mode {
  background-color: var(--c_bg-10);
}
.notion-aside-table-of-contents {
  background-color: transparent;
}
body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--notion-font);
  overflow-x: hidden;
  transition-duration: 250ms;
  transition-property: transform, background-color, color, background-image, top,
    left;
  -webkit-font-smoothing: antialiased;
  font-weight: 380;
}

a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  font-family: var(--notion-font);
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
  background-color: var(--bg-color-1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--fg-color-1);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
