@media only screen and (max-width: 600px) and (min-resolution: 2x) {
  /* .notion */
  /* .notion {
    width: 100%;
    max-width: 100vw;
    & .notion-title {
      width: 100%;
      font-size: 2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  } */
  /* .notion-page-content-inner  */
  .notion-page-content-inner {
    & {
      align-items: center;
      max-width: 90vw;
      width: 100%;
      margin: auto;
      padding: 0;
      overflow: hidden;

      details.notion-collection-group {
        & {
          padding-left: 30vw;
          margin-bottom: 2rem;
        }
        & > summary > div {
          transform: scale(1.2) !important;
        }
      } /* //.notion-collection-group  */

      .notion-table {
        .notion-table-th:nth-child(2) .notion-table-view-header-cell {
          display: none !important;
          width: 0 !important;
        }
        .notion-table-body
          .notion-table-row
          .notion-table-cell-multi_select:nth-child(1) {
          display: none !important;
          width: 0 !important;
        }
      } /* //.notion-table */
    }
  } /* //.notion-page-content-inner  */
} /* //media */
