/* styles/Page.module.css */
@import url(https://qwerewqwerew.github.io/source/style/reset.css);
/* 기본 스타일 */
.body {
	font-size: calc(0.5vw + 1em);
	color: #333;
	max-width: 90vw;
	margin: 0 auto;
	padding: 2rem;
}
.body img,
.image .body video {
	width: 50%;
	object-fit: cover;
}
.body a {
	font-size: calc(1.2rem + 0.4vw);
	color: #333;
}
/* Page_container */
.mainTitle {
	font-size: 2rem;
	font-weight: 800;
}
ul.container {
	list-style-type: none;
	padding: 0;
}

.container {
	max-width: 90vw;
	margin: 0 auto;
	padding: 2rem;
}

/* 텍스트 스타일 */
.title {
	font-size: clamp(2rem, 1.5rem + 2vw, 4rem);
	font-weight: bold;
	margin-bottom: 1rem;
}

.url {
	color: blue;
	margin-bottom: 1rem;
}

.tags {
	font-size: calc(0.5vw + 1em);
	color: gray;
	margin-bottom: 2rem;
}

.paragraph {
	font-size: calc(1.2rem + 0.4vw);
	margin-bottom: 1rem;
	line-height: 1.75;
}

.heading1 {
	font-size: clamp(2rem, 1.5rem + 2vw, 4rem);
	font-weight: 800;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: #454545;
}

.heading2 {
	font-size: clamp(1.8rem, 1.2rem + 1.5vw, 3.5rem);
	font-weight: 600;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	color: #3b3b3b;
}

.heading3 {
	font-size: clamp(1.8rem, 1.2rem + 1.5vw, 3.5rem);
	color: #2b2b2b;
	font-weight: 400;
	margin-top: 1.25rem;
	margin-bottom: 1rem;
}

.listItem {
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}

.checkbox {
	margin-right: 0.5rem;
}

/* 기타 블록 스타일 */
.toggle {
	margin-bottom: 1rem;
}

.blockquote {
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	border-left: 4px solid gray;
	background-color: #f9f9f9;
}

.code {
	font-size: calc(0.8rem + 0.2vw);
	background-color: #f5f5f5;
	padding: 0.5rem;
	border-radius: 5px;
	overflow-x: auto;
}

.divider {
	margin: 2rem 0;
}

.bookmark {
	color: blue;
	margin-bottom: 1rem;
	display: inline-block;
}

/* 테이블 스타일 */
.table {
	width: 100%;
	margin-bottom: 1rem;
	display: table;
}

.tableHeader {
	display: table-row;
	background-color: #f2f2f2;
	font-weight: bold;
}

.tableRow {
	display: table-row;
}

.tableCell {
	display: table-cell;
	border: 1px solid #ddd;
	padding: 8px;
}

/* 미디어 스타일 */
.video,
.audio,
.embed {
	width: 100%;
	margin-bottom: 1rem;
}

/* 콜아웃 스타일 */
.callout {
	background-color: #f9f9f9;
	border-left: 4px solid #333;
	padding: 1rem;
	margin: 1rem 0;
	display: flex;
	align-items: center;
}

.calloutIcon {
	margin-right: 0.5rem;
}

.calloutText {
	flex: 1;
}

/* 자식 페이지 스타일 */
.childPage {
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f4f4f4;
}
.backButton {
	background-color: #f0f0f0;
	border: none;
	padding: 10px 20px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: calc(1rem + 0.3vw);
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.backButton:hover {
	background-color: #e0e0e0;
}
.main.body li {
	background: #f6f6f6;
	padding: 1vw;
	margin-bottom: 0.7vw;
	filter: drop-shadow(0px 1px 2px #939393);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.main.body li:hover {
	filter: drop-shadow(1px 2px 0px #6b6b6b);
	transform: translate(-1px, -1px);
	background: #ffffff;
}
